[2016-09-04 18:41] saurabhnanda opened #1 "How to get Active/Inactive data constructors without prefixes?"
Possible to remove the `Tenant` and `User` prefixes from the following without loss of type-safety?

[code]

[2016-09-04 18:46] mpickering commented on #1
[code]

[2016-09-04 19:21] saurabhnanda commented on #1
@mpickering is it possible to extend this to the following:

[code]

[2016-09-26 14:42] BartAdv commented on #1
Aren't they gonna live in separate namespaces anyway?

[2016-09-29 06:57] saurabhnanda commented on #1
@mpickering I'm not sure if I was clear earlier. Basically, the GADT-based solution that you proposed, works well if each data-model (`User`, `Tenant`, or `Customer`) has the same set of statuses. That might not always be the case, which is what I was trying to explain with the following:

[code]

@BartAdv not necessarily. Wouldn't it be easier to have a single module that defines all these types?

[2016-09-29 07:10] BartAdv commented on #1
@saurabhnanda Yep, putting some types in common module seems to be widely accepted approach. But you just hit its limitation - after all, your problem is purely name resolution problem, right? Therefore, I think, the GADT trick would be overkill for that - you'd be fixing some language aspect by tossing some more advanced feature at it.

[2016-09-29 09:03] saurabhnanda commented on #1
@BartAdv yes, you're right. But the question is slightly rhetorical in nature. Shouldn't it be **easier** to do stuff like this in Haskell?

The other purpose of this question is to discover any type-extension that makes this possible.

[2016-09-29 09:38] saurabhnanda opened #2 "How to represent error conditions in the domain API?"
Copied over [from the Reddit thread](https://www.reddit.com/r/haskell/comments/54gic4/using_either_for_representing_errors_and_allowing/)

Along my [crazy journey to build a "minimum viable webapp architecture"](https://github.com/vacationlabs/haskell-webapps/), I'm stuck with a design-level issue. How do I represent error conditions/cases in my domain API?

In a bid to keep things explicit and pu

[2016-09-29 09:38] BartAdv commented on #2
Cool, I like that you make issues from it, I'm curious what you're gonna choose in the end!

[2016-09-29 09:39] saurabhnanda opened #3 "How to implement transactions in Opaleye?"
Related to https://github.com/tomjaguarpaw/haskell-opaleye/issues/206

[2016-09-29 09:40] saurabhnanda opened #4 "How to perform DB updates with Opaleye easily?"
Related to https://github.com/tomjaguarpaw/haskell-opaleye/issues/206 and https://github.com/tomjaguarpaw/haskell-opaleye/issues/92#issuecomment-247253054

[2016-09-29 09:41] BartAdv commented on #1
Well, maybe it should be easier. But Haskell isn't know for its powerful name resolution - after all, records remained main complaint the user had for some time.

I also don't think it's the issue of types being not expressive enough in this case (unless you want to write code that's polymorphic and you want to handle all XXXInactive statuses etc), that's why I wouldn't personally pursuit it.

[2016-09-29 09:41] saurabhnanda opened #5 "Try Girella (silk-opaleye) to make Opaleye easier to use"

[2016-09-29 09:41] saurabhnanda opened #6 "Try dbrecord-opaleye to make Opaleye easier to use"
Github repo -- https://github.com/byteally/dbrecord-opaleye

[2016-09-29 09:55] saurabhnanda opened #7 "Should tenant status be lifted to the type level?"
Related [thread on Reddit](https://www.reddit.com/r/haskell/comments/51kzdu/how_to_write_a_domain_api_with_pragmatic_type/)

Is there a distinct advantage of "lifting" the tenant status to the type-level? For example, it can allow us to write functions like:

[code]

How would one implement something like this? How does one keep the `tenantStatus` field within the Tenant record, in sync with the "

[2016-09-29 09:57] saurabhnanda commented on #1
Not completely sure what you mean by this. Possible to share some code?

[2016-09-29 09:58] saurabhnanda commented on #2
@BartAdv I'll settle for Option 2 (unify into a single ADT) or Option 3 (throw exceptions instead) and see how the domain API gets used in the servant handler. If it doesn't come out well, I'm expected Haskell to help me with the refactor.

[2016-09-29 10:07] BartAdv commented on #7
What does `(Tenant (InactiveTenant NewTenant))` mean? I can see how accepting various statuses as an input could be usable, but if you produce, then I guess it's gonna have some exact status?

[2016-09-29 10:11] saurabhnanda commented on #7
A tenant, in the inactive state, because it's a new-tenant and is awaiting email verification. The third term is the reason why the tenant is in an inactive state.

[2016-09-29 10:11] BartAdv commented on #7
Ah, thanks. I guess including the definitions would clarify things here.

[2016-09-29 10:13] saurabhnanda commented on #7
Done :)

[2016-09-29 10:14] BartAdv commented on #1
To be honest I'm not knowledgeable enough to know/prepare quick example of what could you potentially do with such an encoding - all I wanted to say is that only if you would need it for certain correctness guarantees, would it be worthy to explore.

[2016-09-29 10:23] BartAdv commented on #7
I'm curious myself how far one can go with it. The obvious advantage would be that you now can't write code that would call for example `disableTenant` on an inactive tenant, but I do wonder, when you load your Tenant from a database, how then you provide the specific type? After all, your loading function would have variable in place of `TenantStatus`?

[code]

[2016-09-29 10:25] saurabhnanda commented on #7
Smart constructors? Load the DB row into an intermediate data-type, check the `tenantStatus` field and construct a `Tenant TenantStatus` value from it. Do you see any issues with that?

[2016-09-29 10:26] BartAdv commented on #7
But you have one function to load those! What would be its signature?

Something like:

[code]

(pardon if it's not syntactically correct, never been doing anything like that in Haskell).

Then, possible implementation for disableTenant handler:

[code]

[2016-09-29 10:58] BartAdv commented on #7
I've recalled I was implementing custom servant authentication, and it is kinda similar. I'm not implying this is the way it should be done (with typeclasses), but that was the answer I got when I asked around.

https://gist.github.com/BartAdv/42e62b4d29ffd153c99821fbc47623bd

The relevant bit is here: https://gist.github.com/BartAdv/42e62b4d29ffd153c99821fbc47623bd#file-servant-auth-L19

The cook

[2016-09-29 11:16] saurabhnanda commented on #7
Wow! Didn't realise that this would be so hard. How do library functions like `parseJSON` and `readString` do this?

[2016-09-29 11:49] BartAdv commented on #7
They don't - they are reading some type for you, and if you employ some higher order stuff then you probably stick some `forall`s so that what you read doesn't have those guarantees. And it's natural, after all, you can't expect a status when you read something from db (well, unless you query by status, that is). It's up to you to consume the data, check that it fits the requirements (but the poin

[2016-09-29 13:38] saurabhnanda commented on #7
Don't think I understand this very well.

Btw, stuff like `parseJSON` and `readString` need some sort of type annotation or type-inference that constraints the return-type polymorphism, right? If we have a function like this:

`findTenantsByName :: Text -> [Tenant status]`

then, basically there is no easy way to constraint `status` in the return-type, because it could be anything!

[2016-09-29 14:12] BartAdv commented on #7
Yes - and this is what I meant by `forall`, I think this effectively makes this signature looking like (if we had an explicit forall):

[code]

// EDIT

To be more specific, when you look at signature of `parseJSON` for example, you see:

[code]

this means the `a` is of kind `*`, so the `Tenant` wouldn't fit here, as it's of kind `* -> *`, that is, it accepts `TenantStatus` to produce a type (now

[2016-10-04 07:05] saurabhnanda opened #8 "Dealing with l18n of date formats, time formats, and monetary (currency) values"

[2016-10-04 08:38] sudhirvkumar commented on #1
Just my 2 cents!

@saurabhnanda we can have these data declared in different NameSpaces and if we do then we might have to alias the module when we import T.Active T.Inactive

I understand that TenantActive and TenantInactive isn't as clean as Active and Inactive. But I believe we will get use to it?

Like I mentioned in my email and phone conversation. I am embracing Haskell and going with it.

[2016-10-04 08:51] sudhirvkumar commented on #2
@saurabhnanda I like the way Servant handles errors and its very flexible!

https://hackage.haskell.org/package/servant-server-0.9/docs/src/Servant-Server-Internal-ServantErr.html

[code]

and when raising errors, you can have specific errors... like err404

[code]

and uses Handler

`type Handler = ExceptT ServantErr IO`

I believe rather than using ADT a record would make better sense?

What do

[2016-10-04 09:00] sudhirvkumar commented on #7
[code]

I believe we can use a record to store detailed information about the tenant? rather than solving everything with ADT?

I do understand that you want to enforce the types to determine the correctness of the function. right?

[2016-10-04 09:15] sudhirvkumar commented on #8
what do you think about this package?

https://hackage.haskell.org/package/Decimal

https://github.com/PaulJohnson/Haskell-Decimal/blob/master/README.md

[2016-10-04 09:28] saurabhnanda commented on #7
The straightforward and simpler way is to just run with a single `Tenant` record. But, I'm trying to extract more static guarantees from Haskell. However, the reason why it's turning out to be way tougher than I originally thought is because of https://github.com/vacationlabs/haskell-webapps/issues/7#issuecomment-250468315

[2016-10-04 09:51] sudhirvkumar commented on #7
Basically you want to make sure that a function return a tenant with a specific status.

We can move that to tests right?

[2016-10-05 05:03] saurabhnanda opened #9 "How to design user-facing and admin JSON endpoints?"
**Note:** This is probably closely related to #10

Most domain models in our shopping card application will need two kinds of behaviours/representations/actions:
- One, for the end-customer
- Another, for the shop/store owner

Apart from privileged **actions**, which are relatively easier to handle, privileged **views** seem be tougher to implement in a type-safe manner. For example, the following

[2016-10-05 05:14] saurabhnanda opened #10 "How to design a type-safe JSON endpoint where output fields depend on incoming request?"
**Note:** This may be closely related to #9

Examples:

[code]

[code]

[code]

[2016-10-05 13:48] sudhirvkumar commented on #9
@saurabhnanda

I believe Option 1 is the best choice as the product details for the customer will be different from that of the Admin.

I would go with Option 1. It will be simple to understand and implement too also to test.

[2016-10-05 13:49] sudhirvkumar commented on #9
@saurabhnanda

As we are using Haskell, we can always extract away the common functionality into functions at the time of refactoring / code review.

[2016-10-05 13:55] sudhirvkumar commented on #10
@saurabhnanda

This immediately brings up horror stories...
1. Security issues
2. Performance
3. Complexity

I believe if you need flexibility in selecting the fields then we can use GraphQL (http://graphql.org/)

http://graphql.org/blog/rest-api-graphql-wrapper/

http://stackoverflow.com/questions/38339442/json-schema-to-graphql-schema-converters

Let me know your thoughts

[2016-10-05 13:56] saurabhnanda commented on #9
What about cases where even on the admin side, different user-roles are to
be given view-level access to different fields.

On Wed, Oct 5, 2016 at 7:19 PM, Sudhir Kumar notifications@github.com
wrote:

[2016-10-05 14:09] saurabhnanda commented on #10
Wrt GraphQL, yes, this is an ad-hoc way of implementing the same ideas that GraphQL is trying to solve.

However, I haven't researched GraphQL deeply. Can you help me with the following questions:
- Is GraphQL just a protocol or does it have server-side & client-side implementation?
- Is any server-side implementation available in Haskell?
- Is any client-side implementation available for Purescri

[2016-10-05 14:23] saurabhnanda opened #11 "Request / response logging"
- Sensitive data in requests, like passwords, should be scrubbed.
- This scrubbing should be easily configurable.
- There should be an ability to change the log format and control what is being logged:
  - Whitelist of headers
  - Whitelist of cookies
  - URL params
  - Request body
  - Response body
  - Total time taken to respond, segmented by view, controller, & DB access

[2016-10-05 14:24] saurabhnanda opened #12 "Can the type-system (or custom monads) help in cache-invalidation?"

[2016-10-05 14:24] sudhirvkumar commented on #9
/products
/admin/products
/manager/products

I guess the route I would take if have different end points

also, if the details are going to differ then how will we handle it? how will we parse the JSON? how will we be sure that things are the way they should be?

I understand that in RoR this is easy... because its all dynamic.

I believe I will go with different end points depending on the role.

[2016-10-05 14:25] saurabhnanda opened #13 "Integrate with an existing custom error-monitoring tool"
Options:
- Skylight
- New relic
- Airbrake
- Scoutapp

[2016-10-05 14:27] saurabhnanda commented on #9
@sudhirvkumar Option 1 is the easy default. The real question here is whether we can do better with help from Haskell's type-system 😀

[2016-10-05 14:34] sudhirvkumar commented on #10
I mentioned GraphQL as it might be useful for your use cases.
- GraphQL has a server side which in turns fetches data from API endpoints
- Haskell server not yet (https://hackage.haskell.org/package/graphql)
- Purescript client not yet (https://github.com/jqyu/purescript-graphql)
- We will be writing API endpoints for mutations. We can avoid a lot of boilerplate with regard to reading data. We can

[2016-10-05 14:37] saurabhnanda opened #14 "Finalising the spec"
While writing up the JSON API spec based on the original [spec outline](https://github.com/vacationlabs/haskell-webapps/blob/922289978a882f10fc0701b984dbc9a93fd8826b/SPEC.md), I realised that I was biting off more than what could be chewed. Therefore this is to discuss and finalise a spec that covers all functional aspects, allows us to discover a "minimum viable webapp architecture", and requires

[2016-10-05 14:45] sudhirvkumar commented on #10
@saurabhnanda

if you really want to implement this, then I can think of a way.
1. Limit the fields that can be mentioned in the "fields" QueryParams using ADT?
2. use a [(key,value)] type and store the fields manually by filtering the fields
3. use custom ToJson instance to render the [(key, value)] type to JSON.

doable... a little messy and no guarantees! I am not sure if I will want to do some

[2016-10-05 14:49] sudhirvkumar commented on #11
I believe logging will also be using Show instance, so instead of deriving show, we can create our own instance for show and there we can filter the sensitive info from the show / log. If its sensitive enough then I guess we should take enough care to write a instance for show for that particular Type?

let me know if I am wrong. I will also do some searching...

I will think about the rest of the

[2016-10-05 14:51] sudhirvkumar commented on #12
@saurabhnanda

which cache? Redis? or HTTP?

[2016-10-05 14:54] sudhirvkumar commented on #13
@saurabhnanda

I found helics for New Relic (https://hackage.haskell.org/package/helics)
Airbrake :: https://hackage.haskell.org/package/airbrake

[2016-10-05 14:59] saurabhnanda commented on #12
Redis

On Wed, Oct 5, 2016 at 8:21 PM, Sudhir Kumar notifications@github.com
wrote:

[2016-10-05 15:10] sudhirvkumar commented on #9
@saurabhnanda yeah that's true :D

I had an idea of using jwt token and extracting the role from that and using that in types and also mentioning that in the API endpoint definition in Servant and then define a type which will return the appropriate type depending on the role!

API definition will depend on the role extracted from the jwt token ;)

http://haskell-servant.readthedocs.io/en/stable/t

[2016-10-05 15:16] saurabhnanda commented on #14
@sudhirvkumar what do you think of https://github.com/vacationlabs/haskell-webapps/blob/26474934fd364237f37f50bb8e35f0b9ab2ade8b/SPEC.md#things-to-cover-in-the-spec Can anything be added to it?

[2016-10-05 15:22] saurabhnanda commented on #14
Planning to implement **only** the [endpoints documented here](https://vacationlabs.github.io/haskell-webapps/json-api-spec.html)

Stuff that can be added:
- PDF generation: The classic use-case is generating a PDF invoice, but given that we're limited ourselves only to products (and not extending to orders), shall we just generate a PDF flyer of product details?
- More details on testing related

[2016-10-06 03:55] sudhirvkumar commented on #9
I found this example... yet to understand it though

https://github.com/arianvp/servant-jwt-example

also there is an experimental method in Servant

https://github.com/haskell-servant/servant/blob/master/servant/src/Servant/API/Experimental/Auth.hs

So I believe we should be able to extract the Role along the request.

https://github.com/haskell-servant/servant/blob/master/doc/tutorial/Authentica

[2016-10-06 04:04] sudhirvkumar commented on #12
@saurabhnanda

I am not sure how we will be able to combine an external service with Haskell type system.
The only thing I can think is to handle it manually. When things change put that to a common queue and have a worker do the magic of Cache Invalidation.

I am very curious to see if Haskell can do anything more in this regard. So I will be watching this space closely

[2016-10-06 05:53] sudhirvkumar commented on #14
@saurabhnanda

Before I make comments on the SPEC document. I just want to collect my thoughts and also share them with you. So that you know my perspective. I believe I will be helpful only partially in helping draft the spec.

Why Haskell and PureScript?
- Pure Functions
- Typed
- Immutability
- Type Classes -> Simplicity
- Managed Side Effects
- Better error handling

I want to use Haskell only

[2016-10-06 06:08] saurabhnanda commented on #14
@sudhirvkumar have you already started working with Purescript or is that still in research phase? How similar is Purescript syntax to Haskell? Can Purescript integrate with the jQuery widget eco-system out there? Or are you planning to write Purescript with React? In which case, how mature are the React UI widget libraries?

Btw, I'm not a big believer of micro-services unless you hit true "web s

[2016-10-06 07:44] sudhirvkumar commented on #14
@saurabhnanda

We have already started working with PureScript and we are using PureScript Pux (https://github.com/alexmingoia/purescript-pux).

PureScript is very close to Haskell. Its not Lazy though!

https://github.com/purescript/purescript/wiki/Differences-from-Haskell

We are using React and React has a lot of components and with PureScript we can use jQuery widgets too. There are a lot of c

[2016-10-06 08:13] sudhirvkumar commented on #14
As things are, we are cool with the libraries which are available for now. Will work on other libraries later and as and when its required.

Micro Services makes good sense for my Product and Services!

[2016-10-07 14:31] wz1000 commented on #7
A simple way to do this for a fixed, rarely changing definition of TenantStatus is

[code]

then

[code]

to automatically do this for arbitary, changing definitions of TenantStatus, existential types are needed.

[code]

then

[code]

[2016-10-09 02:33] sudhirvkumar commented on #14
@saurabhnanda

I am having second thoughts about using Tests vs Type System to enforce correctness.

I am more concerned about being able to jump right into the projects along with the team and tests made more sense then.... Now... I am thinking about Types and Compiler / Development time guarantees.

So I am going to spend some time today to learn. If you already have some resources then please d

[2016-10-09 06:13] saurabhnanda commented on #7
@wz1000 thanks for taking a stab at this.  Seems like something that could work. If I've understood this correctly, you're working with a more general 'SomeTenant`type and converting to an`ActiveTenant`or`InactiveTenant` where we need to be sure of the tenant's status. Is that correct?

Can this be simplified a bit to make it easier to use? Something on the lines of:

[code]

[2016-10-09 06:16] saurabhnanda commented on #7
@wz1000 And thinking about this pragmatically, isn't this simply pushing the "data validation or sanity checks" from `activateTenant` to `mkActiveTenant`? Is this really achieving anything in real terms? How bad would the following be:

[code]

[2016-10-09 07:09] wz1000 commented on #7
@saurabhnanda

[code]

cannot work because it desugars to

[code]

so `loadTenant <id>` can be both an active and an inactive tenant, regardless of the actual state of the underlying tenant. This is because GHC doesn't have inline existentially qualified types yet, and all type variables are universally quantified.

That is exactly what it is doing. However, the distiction between code that requir

[2016-10-09 08:24] BartAdv commented on #7
@wz1000 What does "inline existentially quantified" means?

[2016-10-09 08:38] wz1000 commented on #7
@BartAdv I mean without an explicit `data` declaration.

[2016-10-09 09:25] BartAdv commented on #7
@wz1000 and what about:

[code]

with

[code]

[2016-10-09 10:20] wz1000 commented on #7
@BartAdv Try it. GHC would complain about not supporting impredicative types or something like that.

[2016-10-09 14:03] BartAdv commented on #7
@wz1000 right, played a bit in REPL and now I know what's the problem. Also, did a bit of research how it could look in fully dependent language (Idris), and it seems I'd need dependent pairs for it:

[code]

[2016-10-10 03:59] jfoutz opened #15 "Using Haskell's type-system to implement caching (and cache-invalidation) correctly"
If Haskell can't introspect on the database it can't help with static analysis. There are two obvious ways to fix this, one is to parse SQL. That's not crazy, Parsec is a nice library. But it seems like a lot of work. Alternatively, You could use a combinator library sort of in the spirit of the old HTML library, https://hackage.haskell.org/package/html-1.0.1.2/docs/Text-Html.html.

The idea is, m

[2016-10-10 04:05] jfoutz opened #16 "Authorization strategies"
Per function access to a service is risky. Lack of access can be frustrating for users, but is ultimately fairly easy to resolve, just grant access to that role. The other case, permissions being open is much more dangerous. Sensitive information could be leaked.

I have two broad suggestions for limiting that risk.

1, Completely separate all user facing services from tenant facing services. All

[2016-10-10 04:45] jfoutz opened #17 "Service oriented architecture"
I believe maintenance difficulty scales exponentially with code base size. A 100,000 line project is _more_ than twice as difficult to maintain than a 50,000 line project. Most projects have natural separations, where splitting the application is possible. Examples might be authentication, payment processing, and administration tools.

The services don't have to be equal sized. One 200kloc project

[2016-10-10 07:37] saurabhnanda commented on #15
@jfoutz is the problem more complex because you're using HDBC and not a DSL which wraps over SQL? For example, would this be easier to implement in something like a Persistent, where the `update`, `insert`, or `replace` API calls know exactly which table & which row in the DB they're mutating?

PS: Shall I merge #12 into this?

[2016-10-10 07:39] saurabhnanda commented on #16
@jfoutz merge this with #9, which was opened to discuss this issue?

[2016-10-10 07:44] saurabhnanda commented on #17
@jfoutz the biggest downside of SOA vs one monolithic code-base is refactoring. One of the reasons why we're considering changing to a statically typed and compiled language is that the compiler helps us quickly identify what needs to change when an underlying API or data-structure changes. When you split the project into smaller units, each communicating over an untyped JSON API, this advantage s

[2016-10-10 08:14] sudhirvkumar commented on #17
@saurabhnanda When we use Servant and servant client. We can re-use the same paths and types. Even though JSON is use to transfer data. We will be able to reliably serialize/de-serialize with compile time guarantees.

[2016-10-10 08:28] saurabhnanda commented on #17
Let me list down the risk factors we've internally come up with, whenever we've thought about a micro-services/service-oriented architecture:
- Simple function calls get converted to remote API calls and need to deal with network failures and retries
- How to easily co-ordinate schema/API changes across distributed components? Especially breaking changes?
- Development environment. Every dev needs

[2016-10-10 10:58] saurabhnanda opened #19 "Setup Persistent DB types"

[2016-10-10 11:01] saurabhnanda opened #20 "Setup Postgres DB"
- How to handle PG specific constraints & triggers that work well with the automatic migration that Persistent does?
- Can Persistent automatically create FK constraints in the schema?

[2016-10-10 11:04] saurabhnanda opened #21 "Test issue"

[2016-10-10 11:04] #21 closed, assigned to nobody

[2016-10-10 11:04] wz1000 commented on #20
Yes.

[2016-10-10 11:19] saurabhnanda commented on #20
@wz1000 do you want to add the following to this issue or treat them separately:

* Enum support
* JSONB support
* Array support
* Building out audit logs

[2016-10-10 11:21] saurabhnanda commented on #19
@wz1000 do you want to add the following to this issue, or treat the separately:
- Enum support
- JSONB support
- Array support
- Building out audit logs?

[2016-10-10 11:24] saurabhnanda commented on #20
@wz1000 do take a look at https://github.com/vacationlabs/haskell-webapps/blob/master/ServantOpaleye/db/schema.sql and https://vacationlabs.github.io/haskell-webapps/ServantOpaleye/db/schema_spy/

[2016-10-10 11:30] wz1000 commented on #19
@saurabhnanda What do you mean by Enum support and Array support?

Also, why is JSONB support needed? Won't we be working with Haskell types and only convert to/from JSON while sending/recieving data?

[2016-10-10 11:35] saurabhnanda commented on #19
Figuring out how Persistent can handle PG ENUMs and arrays. Check out the schema at https://github.com/vacationlabs/haskell-webapps/blob/master/ServantOpaleye/db/schema.sql to understand use-cases.

JSONB is a datatype supported by PG. It is extremely useful in storing data that is structured, but the schema may not be well-known ahead of time. Possible use cases:
- storing the change-set in `audi

[2016-10-10 11:37] saurabhnanda commented on #19
Also, what about housekeeping columns, like `created_at` and `updated_at`, and how to deal with them in Persistent?

[2016-10-10 11:44] wz1000 commented on #19
AFAIK, Persistent automatically converts Haskell Enums to PG enums. However, it doesn't support PG arrays.

[2016-10-10 11:46] wz1000 commented on #19
They'll have to be dealt with manually, possibly with helper functions that take care of updating them.

[2016-10-10 12:29] saurabhnanda commented on #19
Do you want to spend time looking around some (unpublished) projects that solve this problem?

Here's a heads-up about this problem (because I've already spent some time with it):
- Persistent doesn't have a good way of dealing with non-nullable columns that have a default value specified by the DB
- If you make `created_at` and `updated_at` as `NOT NULL` then you have to always call `getCurrentTi

[2016-10-10 12:36] wz1000 commented on #19
I think I can just work around it for now(one possible solution is using a bitfield with some lenses to replicate a [Bool]). If needed we can solve this later.

This can be solved by defining custom update/insert functions that automatically manage those fields.

[2016-10-10 23:35] jfoutz commented on #17
I don't know your codebase, but i have some guesses about functionality. I'm going to work from the shopify analogy, because that's all i really know. So one approach might be, a service for the booking engine and another service for your store building. End users just need to know prices and dates. Your customers need to be able to configure those prices and dates. That seems like a natural split

[2016-10-11 01:28] jfoutz commented on #9
So, Servant has some support for different authentication strategies, via that experimental api. I'm hoping to dig into that Wednesday.

Authorization is a whole different problem. After authentication, i know who you are, but i'm still not sure what you're allowed to do. I really like one endpoint per role. I can look at your roles, and then go look at the endpoints and see what you can do. This

[2016-10-11 01:28] #16 closed, assigned to nobody

[2016-10-11 01:34] jfoutz commented on #15
Yes. that's it exactly. It might be a lot easier to do the row caching trick in Persistent, if you can get a hold of the internal data structure that represents the queries, and wrap the implementation with the custom caching backend.

PS: maybe? no strong feelings either way. I guess this is one way the type system can help with caching. So this is probably a subset of that ticket.

[2016-10-11 01:40] mpdairy commented on #10
I think if you want to just send certain fields of a record, you would want to box every field value of the record with something like a `Maybe`. So you'd still send back, for instance, a whole product record every time, but all the values of fields you don't care about get set to `Nothing` and all the ones you do care about are wrapped in `Just`.

To specify, in the query request, which fields yo

[2016-10-11 01:58] saurabhnanda commented on #9
@jfoutz just to be clear, what do you mean when you say "role"? Is "admin" or "finance manager" a role? Or, is "view-any-booking" or "view-any-booking" a role?

For me, a role is a tenant-defined collection of permissions. A permission is a fine grained ability to do a specific action in the system, eg can-edit-invoice, can-generate-reports.

So, a different endpoint per role can work when you hav

[2016-10-11 02:02] saurabhnanda commented on #15
@jfoutz do we want the type-safe system to help us cache objects and invalidate them, I.e. actual operations. Or, do we want it to force us to **think** about cache invalidation whenever an object tagged as "cacheable"  at the type-level is updated?

The latter might be easier to do with a monad or effects library. Much like IO.

[2016-10-11 02:12] jfoutz commented on #9
I'd think of "admin" or "finance-manager" as a role. "view-any-booking" would be a permission, something they're allowed to do.

I think we agree, but i might include a "vacation-labs-admin" that could do stuff across all tenants or end users.

For arbitrarily defined roles, I'll go back to the standard suggestion of one table of permissions, one table of user defined roles, and a junction table t

[2016-10-11 02:13] saurabhnanda commented on #10
Hey @mpdiary, thanks for chiming-in. If the whole product record gets sent with missing fields as `Nothing`, it is still quite an overhead. Also, we would be force-fitting three states into two: value present, value absent, and value omitted, into just the two. What we need is something like:

[code]

So, a custom `toJSON` function should be able to take a record and NOT emit the fields with an `O

[2016-10-11 02:19] saurabhnanda commented on #9
@jfoutz that's pretty much how roles and permissions have been modelled in the starter DB schema we have in the repo. Except perhaps not having permissions in a separate table. I'm envisioning the permission list to come from the Haskell source. Adding a row in the permissions table cannot have any effect till some code is updated to react to that permission, right?

However, the larger question i

[2016-10-11 02:31] jfoutz commented on #15
IO makes guarantees. The DSL i'm suggesting would make guarantees, and actually do the work.

I'll think about what we might provide to remind people of caching issues. If something is tagged as cacheable, perhaps the developer could be required to implement a flush cache method, or something along those lines. Not an actual guarantee, but a method that must be implemented.

That's a little risky,

[2016-10-11 02:55] jfoutz commented on #9
- Adding a row in the permissions table cannot have any effect till some code is updated to react to that permission, right?

Yeah, the permission (as i see it) would be some code to run, if the code doesn't exist... it couldn't run.

I'll need to think more about the second part of the comment.  I'm not sure how that would flow down to actual decisions in code. Since it's dynamic, it would have t

[2016-10-11 03:29] jfoutz opened #22 "Create stub implementation for servant-hdbc"
Create project, add a basic implementation, no database no authentication

[2016-10-11 03:33] jfoutz opened #23 "Use servant clients for testing"
Figure out a way to get integration tests for free (ish) from the servant clients

[2016-10-11 03:38] jfoutz opened #24 "Setup Postgres DB - HDBC"
I'll also need to set up postgress for the HDBC side of things. Perhaps when we're farther along the DB setup can be merged into one project.

[2016-10-11 03:55] sudhirvkumar commented on #9
@saurabhnanda @jfoutz

theoretically, just like we can use different content type JSON, HTML...

we can vary the output depending on the Role too..

for example... if we can extract Role from the token (jwt) and use pattern matching on the Role then we know how to handle each of those Roles.

data Role = Anonymous | Admin | Customer | Manager

if its anonymous... we can throw an error as required.

[2016-10-11 04:07] jfoutz commented on #9
@sudhirvkumar Yes! absoulutely.

But if the roles are custom created at runtime things get tricky. Maybe something like

[code]

or maybe

[code]

So stock roles are straightforward, they can just be hardcoded. I haven't quite figured out how to verify a `Dynamic _` without programmer intervention. It sure _seems_ like there's a cute way to handle the Dynamic case without having to start every fun

[2016-10-11 04:08] sudhirvkumar commented on #9
@saurabhnanda @jfoutz

I don't think we should keep the permissions dynamic if we need compile time guarantees

[2016-10-11 04:16] mpdairy commented on #10
Oh, you're right, that would be a lot of overhead. Well it looks like you can use the alternative `<|>` operator to give an option for fields that were not found in the JSON. For example:

[code]

Then you can do:

[code]

And the omitted fields are just given a `False` value. This would require you to request which fields you wanted in a JSON body rather than in the GET url.

[2016-10-11 05:22] saurabhnanda commented on #12
Discussion moved to #15

[2016-10-11 05:22] #12 closed, assigned to nobody

[2016-10-11 06:36] saurabhnanda opened #25 "Discussing the authentication spec"
Before we start implementing the endpoints described in the [authentication section](https://vacationlabs.github.io/haskell-webapps/json-api-spec.html#authentication), I feel we need to have a discussion about the endpoints themselves. The thought behind designing the endpoints in this way was:
- User does a sign-in via `/sessions/new` and if the `remember_me` flag is set, the backend sends back a

[2016-10-15 03:55] jfoutz commented on #2
there are at least 2 classes of errors, 1, bad data, likerequest can't be parsed, product id is invalid or something. For public consumption, i'd go with 400 or 404. since the only user of the api is the UI, it might make sense to return some json that indicates what's wrong more precisely. - my preference is still 400 - bad request
the other class of errors, something internal is broken, like the

[2016-10-15 04:17] saurabhnanda opened #27 "Discussion: Should domain API take primary key as an argument or the entire record?"
should functions like `activateTenant` or `editProduct` take a `TenantID` or `ProductID` as input OR `Tenant` or `Product`

[2016-10-15 04:18] saurabhnanda opened #28 "Discussion: Current tenant and user for the domain API"
- how to communicate tenant and user performing the action to the domain APi. Explicit arguments or reader monad
- how to represent an action/event initiated by the system, eg via a cron job?

**Domain API** refers to the Haskell library that implements actions, like `createTenant`, `createProduct`, etc. Functions in the domain API may need the current user and tenant for the following:
- Implemen

[2016-10-15 04:19] jfoutz commented on #27
Tenant vs TenantID, Requiring a Tenant seems to indicate a select before an update. the Tenant record needs to be populated, then modified based on the query params, then finally sent back across the domain API for an update. You can say semantics indicate the Tenant record is just the differences between what's in the db and the current object, so just update the populated fields. That approach s

[2016-10-15 04:21] jfoutz commented on #28
i'd go with explicit arguments, but that's lack of experience. it seems like every method will need these facts, so tucking them away in a reader seems like the Haskell way of doing things.

[2016-10-15 04:22] saurabhnanda opened #29 "Discussion: do we need logging at the domain API layer?"

[2016-10-15 07:05] jfoutz commented on #29
the handlers run in IO. i'm pretty sure logging is just a fancier form of `lift.lift.putStrLn` there are some questions to answer about how to pass the file handle around, to ensure everything can log to the same file. also perhaps log rotation.

In a production system sometimes logging is necessary. For example, access logs for advertising tracking. In general, if the logs should be automatically

[2016-10-15 09:27] wz1000 commented on #27
The semantics of those are quite different. A `Tenant` is a pure Haskell value, while a `TenantId` is a reference to a mutable resource. This distinction makes which to use when quite clear. If you are only performing pure transformations to a value, then `Tenant` should be used. Otherwise you need `TenantId`

[2016-10-15 10:05] wz1000 commented on #25
This wouldn't be too difficult to achieve. I achieve session validation by this code

[code]

The cookie is decrypted(which can fail with an `AuthCookieException`) to a `Maybe Session`(which would be nothing if the cookie does not exist). Then we verify whether it exists and throw a (`NotPresent` :: `CookieError`) otherwise.

Any kind of further validation logic can simply be added to this functio

[2016-10-16 07:29] wz1000 commented on #28
I believe with a little work you can make Servant automatically pass these around for you as arguments to the handlers that require them.

[2016-10-16 07:57] sudhirvkumar commented on #28
@saurabhnanda @jfoutz @wz1000

http://haskell-servant.readthedocs.io/en/stable/tutorial/Authentication.html#generalized-authentication

`AuthProtect "auth-name"` combinator can be used to get whatever type we want. We need to define a function which will take `Request` and return `Handler user`. user is polymorphic... can be anything we want. It can be a record with both the Authenticated User, Ro

[2016-10-16 08:06] sudhirvkumar commented on #28
@saurabhnanda

I would create a user `system` or `cron` with required role & permissions and pass that to the functions as the first argument.

Here we can create multiple system users with different role and permissions so that we can track system actions and also define restrictions for each system user too.

btw.. I hope you will be ok to open another ticket to discuss security!

[2016-10-16 08:16] sudhirvkumar opened #31 "Discussion: Secure Domain Model, Policy with Labeled IO"
Building Secure systems with Haskell

Video: https://www.youtube.com/watch?v=jX-zsoPWah0
Presentation: https://cseweb.ucsd.edu/~dstefan/talks/strangeloop2016.pdf

lio: https://hackage.haskell.org/package/lio

Haskell enables us to build applications faster which are reliable, maintainable... and now.. we can also build applications which are secure.

The Idea is... MVC + Policy -> Model + Policy &

[2016-10-16 08:36] wz1000 commented on #31
This is pretty much the Operation/Permission monad I was discussing with @saurabhnanda on Gitter.

[2016-10-16 11:29] sudhirvkumar commented on #31
@wz1000 I need to catch up with the discussions in the gitter...

[2016-10-16 15:17] saurabhnanda commented on #28
So, when I say **domain API** I mean the Haskell library that implements actions, like `createTenant`, `createProduct`, etc. Is it a good idea to couple them with Servant's types or functions?

Functions in the domain API may need the current user and tenant for the following:
- Implementing an audit log
- Implementing **authorization** (as opposed to **authentication**)

I can think of three ways

[2016-10-17 15:26] srid opened #32 "Discussion: Elm vs PureScript"
Some links to interesting discussions here:
https://twitter.com/ravi_mohan/status/784246016555884544

[2016-10-20 03:22] jfoutz commented on #22
creating new issue for sprint model

[2016-10-20 03:22] #22 closed, assigned to jfoutz

[2016-10-20 03:22] jfoutz commented on #24
creating new issue for sprint model

[2016-10-20 03:22] #24 closed, assigned to jfoutz

[2016-10-20 03:23] jfoutz commented on #23
closing, not relevant to design goals.

[2016-10-20 03:23] #23 closed, assigned to jfoutz

[2016-10-20 04:02] jfoutz opened #33 "HDBC+Servant: Initial sprint"
### Stack

HDBC (close to raw SQL) + Servant
### Domain API

Take basic types for each query, execute the query, return simple rows for results. It is the responsibility of the JSON api to convert to and from haskell objects, for tenant, user, role, permission.

At the end of this sprint DomainApi should export correct versions of
- createTenant, getTenant, activateTenant
- createUser, activateUse

[2016-10-20 04:11] saurabhnanda commented on #33
Thanks. Perfect balance of scope and detail!

Are you focusing only on the domain API or the full stack, ie servant
handlers calling these domain APIs ?

On 20 Oct 2016 9:32 am, "Jason Foutz" notifications@github.com wrote:

[2016-10-20 04:19] jfoutz commented on #33
I'm going to complete Tenant for the whole stack - but not for any of the other methods.

I wound up needing a Domain api because of monad mismatch. For now, i'm just going to`lift.lift Domain.getTenant id` The third design goal will get rid of that `lift.lift`

[2016-10-24 13:22] sras opened #36 "Spock+Opaleye - Initial sprint"
## Building a shopping cart web app using Spock web framework and Opaleye
1. Create database schema,  Install and configure Opaleye and define schema for the same -- 5 hr
2. See if it is better to have a flat structure for the data model, Or if Opaleye powerful enough to accept a nested structure for models, but specify the relations to be loaded in a specific query? --8 hr
3. Write CRUD functions

[2016-10-24 14:35] meditans opened #37 "reflex, servant-reflex - Initial sprint"
## Description

The main aim of this sprint is translating a [mock login page](https://github.com/vacationlabs/haskell-webapps/tree/master/ui-mockups) in idiomatic `reflex-frp` code.

In solving this problems three macro areas will be researched, to construct a solid foundation for future work in this area:
### How to structure an app with interoperating client and backend

To simulate the interac

[2016-10-24 14:42] saurabhnanda commented on #37
Quick overview of what `servant-reflex` solves?

[2016-10-24 16:14] meditans commented on #37
Sure, I'll leave the [link to the github repo](https://github.com/imalsogreg/servant-reflex), a quick description from the readme and some of my notes:

### The problem servant-reflex solves

Keeping your frontend in sync with your API server can be difficult - when the API changes its input parameters or return type, XHR requests from the frontend will fail at runtime. If your API is defined by s

[2016-10-25 05:22] saurabhnanda commented on #37
Great! Let's get started!

[2016-10-25 06:35] saurabhnanda commented on #36
Great - let's get started!

[2016-10-25 08:07] saurabhnanda opened #38 "Initial sprint: Servant + Persistent"
**Already implemented:**
- Authentication
- Basic app architecture
- Persistent models for Tenant and User

**Goals for Fri 21/10/16:**
- Typesafe way to handle updates/edits to entities(Tenant/Users/Products etc.)
- Domain API for Tenant:
  - createTenant
  - activateTenant
  - updateTenant
  - getTenant
- Domain API for User:
  - createUser
  - editUser
  - getUser
  - activateUser
  - deactivat

[2016-10-25 08:24] saurabhnanda commented on #38
Related PR: https://github.com/vacationlabs/haskell-webapps/pull/30

[2016-10-25 16:24] wz1000 opened #39 "Safe updates to records."
# The problem

We want a nice way to describe updates to a record. These updates are only allowed to edit certain fields of the record. Ideally, we don't want to have a new record to describe each kind of update as this leads to a lot of boilerplate and namespace pollution
# Proposed solution

Let's consider a record `Tenant` with attributes like a name, backoffice domain, creation and updation ti

[2016-10-26 04:43] saurabhnanda commented on #39
Looking for feedback on this

/cc @jfoutz @meditans @sras

[2016-10-26 04:50] saurabhnanda commented on #39
- Possible to change the constructor to `TenantUpdater` in the following code to avoid any confusion?

- Possible to define a `Tenant` record with regular `$(makeLenses)` for this to work?
- Is the `forall a` really required in the following type signature? For some strange reason `forall` is a mind-block for me. It signals the usage of HKT or RankNTypes which I don't fully understand.

`newtype T

[2016-10-26 05:31] wz1000 commented on #39
Yes, but I don't use this constructor in my actual code any way. This was just for demonstration purposes.

Yes. This is because the more polymorphic a function is, the less ways there are to write it.

Consider a function `fst` that takes a tuple and return the first element of the tuple.

The most polymorphic type of this function is

[code]

However, it can also have the type

[code]

Now, you

[2016-10-26 05:41] wz1000 commented on #39
Constraint kinds allows you to manipulate `Constraint`s as you would other types in Haskell. In particular, it allows you to parametrise a type over arbitrary `Constraint`s, and it allows you to write type families to manipulate `Constraint`s.

[code]

In this type, the constraint we have is a type parameter, instead of being fixed.
So we could have a

[code]

where `NumUpdater` represents all the

[2016-10-26 05:53] sras commented on #39
@wz1000

But wouldn't a signature of _fst::(a, b) -> a_, be as polymorphic and work the same?

[2016-10-26 05:59] wz1000 commented on #39
The signatures are equivalent. I just added an explicit `forall` for clarity. GHC makes (almost) no distinction between these two type signatures.

GHC automatically assumes all free type variables to be universally quantified.

[2016-10-26 06:32] saurabhnanda commented on #39
@wz1000 so, IIUC this type-machinery needs to be defined **only once** and then any record with **regular lenses** can use it:

[code]

Is that correct?

Follow-up question: Does this scale to nested records? In the example above, a `Product` might have a list of nested `[Variants']`? How will that work?

[2016-10-26 06:42] wz1000 commented on #39
Yes.

You are missing the commas in the type level list

[code]

It'll work as long as you define the appropriate type classes with the necessary lenses and prisms to access the underlying fields.

Also, this allows multiple methods of updating the same record. For instance, we may not want the user to update their password without reauthentication.

[code]

[2016-10-26 06:52] wz1000 commented on #39
Sorry, I misunderstood. You want the underlying `Variant`s to also be updated in a safe manner. In this case you would have to make a type class such as:

[code]

then

[code]

[2016-10-26 09:14] saurabhnanda commented on #39
@wz1000 can we have a usage sample at the end of the write-up?

[2016-10-26 10:06] wz1000 commented on #39
@saurabhnanda Done.

[2016-10-26 10:33] saurabhnanda commented on #39
Any thoughts on the core approach chalked out in the question at http://stackoverflow.com/questions/40171037/apply-a-function-to-all-fields-in-a-record-at-the-type-level/40171268# ? I do not really like the current solution to my question on Stackoverflow, but I got two alternative approaches on IRC:
- [With TemplateHaskell](http://lpaste.net/294412#a294412)
- [With TypeFamilies](http://lpaste.net

[2016-10-28 08:51] saurabhnanda commented on #37
@meditans congratulations on your first merge 👍

Just comment & close this issue with with:
- What got done in this sprint,
- What got pushed to the next sprint,
- Any interesting thoughts/learnings/issues/etc

[2016-10-28 09:03] #38 closed, assigned to wz1000

[2016-10-28 14:33] saurabhnanda commented on #32
@HappyAndHarmless any first hand accounts from your side about Elm or Purescript?

[2016-10-30 05:29] srid commented on #32
@saurabhnanda Not yet. First [getting a hang of Haskell](https://github.com/HappyAndHarmless/my-haskell-scripts/). I imagine it would take a while before I get my hands dirty on PureScript.

[2016-10-31 07:12] meditans commented on #37
### What got done

A simple structure to permit an interoperating client and backend has been
devised. The validation problem has been solved for simple cases, but we still
have to find a coherent view on validation that scales (for example, the problem
of how to match the error message to the place in the dom in which they were
generated, for a large datatype). The servant-reflex library has been

[2016-10-31 07:12] #37 closed, assigned to meditans

[2016-10-31 09:08] saurabhnanda commented on #19
@wz1000 has this been closed by #30

[2016-10-31 09:09] saurabhnanda commented on #20
@wz1000 has this been closed by #30

[2016-11-02 01:13] HappyAndHarmless commented on #32
At the moment I don't have a lot of projects ideas to do in Haskell, so I decided to learn PureScript and play with it while learning advanced Haskell concepts (I already know the major classes like Monad, but yet to get an intuition for stuff like State, Monad Transformers).

[2016-11-03 18:09] mgmeier opened #48 "Relational Records + wai: initial sprint"
## Technology Stack

* DB: Relational Records
* Server: wai
* JSON: aeson

### Relational Records (HRR)

1. Setup & Definition of Data Model in HRR
2. CRUD Interface utilizing corresponding Haskell data types
3. Error handling
4. Investigate best way for DB housekeeping with HRR

Time estimate: 14 hours

### Server

1. Basic request routing
2. Basic abstraction for REST handlers with some type saf

[2016-11-04 09:43] sras commented on #36
# Closing the sprint

## Things accomplished.
1. Implemented the domain api functions.
2. Figured out how to work with Opaleye database lib. Thanks to @saurabhnanda  for all the help.
3. Implemented a json endpoint using Spock framework.

## Things that were pushed to the next sprint
1. Deal with housekeeping columns.
2. Evaluate and Integrate a validation library.

Things learned from this sprint

[2016-11-04 09:43] #36 closed, assigned to sras

[2016-11-04 23:36] mgmeier commented on #48
Relational Records sprint description and discussion moved to #50

[2016-11-04 23:36] #48 closed, assigned to nobody

[2016-11-23 02:30] srid commented on #32
In the process of writing a [mancala game](https://github.com/HappyAndHarmless/Pallanguzhi) in Elm I came across two pain points with the language and community that makes me consider just using PureScript for personal projects henceforth:

* The lack of type classes can become annoying once the project becomes sufficiently big (more on this; [ref](https://pchiusano.github.io/2015-04-23/unison-upd

[2016-11-25 15:14] nmdanny commented on #32
It seems to me that Purescript is better than Elm for several reasons:
Pros:

- Type classes, rank N types, higher kinded types, functional dependencies, extensible effects, and more features to the type-system are likely to be added(thus bringing it closer to Haskell)
- Generics, allows deriving instances and reducing boilerplate.
- More flexible/powerful interop (but potentially unsafe/unsound)

[2016-11-25 16:26] saurabhnanda commented on #32
Any first hand example that you can share?

[2016-11-26 02:41] srid commented on #32
I can share two examples from the same project.

1. Lack of type classes means no monads, binds and do-notations, which lead to ugly code like the following:

[code]

2. No type classes means I had to [create lambda expressions](https://github.com/srid/Pallanguzhi/blob/master/src/Util/Diagram.elm) (with its own disadvantages) to polymorphically work on otherwise disparate diagram shapes

---

Abov

[2016-11-26 02:44] srid commented on #32
I would be interested in that. A notable advantage of GHCJS for me is that you can use Haskell libraries, such as the [Diagrams](http://projects.haskell.org/diagrams/) package (just need [a new backend](https://github.com/ghcjs/diagrams-ghcjs)).

[2016-11-26 06:31] BartAdv commented on #32
PureScript vs GHCJS: PureScript is currently lacking an higher order FRP library, and it might not change soon. PS works on top of JS runtime, and it's lacking weak references which are crucial for such implementation. Check sodium-typescript to see what workarounds were needed to implement it.

[2016-11-26 07:42] sudhirvkumar commented on #32
@BartAdv Can you explain about

We are using PureScript Pux and Thermite is something we are exploring for Web. Thermite is working great for Mobile Development.

[2016-11-26 09:53] BartAdv commented on #32
Yes, that's not like saying the lack of higher order FRP means your libaries are crippled, they will still work great, they will just offer different way of approaching things. I'll just link the similar question asked about the reflex-dom, as it is not that easy to explain both approaches and the differencies between them without actually trying both and seeing which one you're more comfortable w

[2016-11-26 13:33] sudhirvkumar commented on #32
@BartAdv

Thermite is awesome for defining everything as Spec's and React is in the background. React has one of the highest performance and React Fiber is going to make things even better!

http://isfiberreadyyet.com/ as of now... 95.1% is done

Regarding Elm vs PureScript which is what this discussion all about.

Elm we need to write a lot more boiler plate code compared to PureScript. Especiall

[2016-12-08 15:12] saurabhnanda commented on #13
@sras would you like to take a shot at this while I review the email sprint?

[2016-12-20 12:31] saurabhnanda opened #62 "Figure out how to define MonadThrow instance for AppM"

[2016-12-20 12:32] #33 closed, assigned to jfoutz

[2017-04-08 16:10] mrkgnao commented on #39
The recent PureScript update added some reflection-like features for working with records, and it enables some things that may be of interest.

Here's a [link](http://try.purescript.org/?gist=7375693b873d8a41432952fd2b325420) to a Try PureScript demo that uses them to implement extensible records where some fields can be marked mandatory and some can be marked optional, and everything's statically

[2017-04-20 14:23] pheara opened #64 "Reflex-starterApp: `happy` needs to be on the $PATH"
I tried to just build the ghcjs/reflex starter app (this is the first working build setup I've found so far ^^), and ran into the problem of it requiring `happy`. A global `stack install happy` fixed it for me . A comment in [#595 of the stack project](https://github.com/commercialhaskell/stack/issues/595) also mentions `stack build <build-tool>` in the project folder to be viable (where build-too

[2017-06-13 15:57] chrissound opened #66 "Potentially missing imports?"
Thanks for the tutorial first of all!

I'm following through with the tutorial and at this line: https://github.com/vacationlabs/haskell-webapps/blame/master/doc/docs/opaleye/basic-db-mapping.rst#L108

we have `$(makeAdaptorAndInstance "pTenant" ''TenantPoly)` however `makeAdaptorAndInstance` does not appear to be imported.

Is this from `Data.Profunctor.Product.TH`?

I'm guessing we also need:
[c

[2017-07-18 06:47] p-alik commented on #66
hlint [starterApp/Main.hs](https://github.com/vacationlabs/haskell-webapps/blob/master/UI/ReflexFRP/starterApp/Main.hs) complians about missing of `MultiParamTypeClasses`

[2017-07-20 09:23] p-alik opened #68 "can't build starterApp with ghcjs"
[starterApp/deploy.sh](https://github.com/vacationlabs/haskell-webapps/blob/master/UI/ReflexFRP/starterApp/deploy.sh) doesn't work in my environment. The first command
`stack build --stack-yaml=stack-ghcjs.yaml`
throws exception:
[code]

Unfortunately
`stack setup --stack-yaml=stack-ghcjs.yaml`
ends in exception:
[code]
`ghcjs` is in the directory mentioned in the exception. I added the directory

[2018-04-23 13:29] srid commented on #32
For those that arrive here late, one another option to consider is GHCJS.

Specifically [Reflex](http://docs.reflex-frp.org/).

One key advantage here is the ability to share types between the frontend and the backend. Furthermore reflex-platform provides tools the build Android and iOS apps out of the same frontend code base. Everything is in Haskell. This is already being used in production (eg:

[2021-05-19 11:37] JivanRoquet commented on #32
@srid

If your `Types.hs` is shared, yes., which means it has to be a monorepo for front and back. Which means that you're still stuck to GHC 8.6 for the front and the back, while GHC 9.1 is about to become LTS soon. In short, you need to accept that your backend uses a 3-years stale version of GHC if you want to benefit from type sharing.

[2021-05-19 19:03] srid commented on #32
Wow, this issue is nearly 5 years old. Back to this topic, you might be interested in [my notes here](https://notes.srid.ca/nojs).

[2021-05-19 20:15] JivanRoquet commented on #32
Very interesting, thanks. The GHCJS devs seem to be all about 8.10 branch as of now, and I agree that more than a year of no update for master is not the best signal.

Have you ever tried Miso, the GHCJS framework? Looks quite well maintained from what I can see. Not sure if it answer your concerns about Obsidian Systems.